:root {
  --ag-header-background-color: #89c4f4;
  --ag-foreground-color: #3d3d3d;
  --ag-data-color: #748890;
}

.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ag-root-wrapper {
  border-radius: 21px;
}

.ag-main-title {
  color: #89c4f4;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* Center header text */
.ag-header-cell-label {
  justify-content: center;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--ag-header-background-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loading-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #777777;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader {
  border: 4px solid rgba(137, 196, 244, 0.2);
  border-top: 4px solid #89c4f4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
